<div
  id="carouselExampleCaptionsFull"
  class="relative dark:bg-neutral-900"
  data-twe-carousel-init
  data-twe-ride="carousel">
  <div
    class="relative w-full overflow-hidden after:clear-both after:block after:content-[''] md:h-100">
    <div
      class="md:h-100 relative float-left -mr-[100%] hidden w-full bg-cover bg-center bg-no-repeat opacity-0 transition-opacity duration-[600ms] ease-in-out motion-reduce:transition-none"
      data-twe-carousel-fade
      data-twe-carousel-item
      data-twe-carousel-active>
      <video class="" playsinline autoplay muted loop>
        <source
          class=""
          src="vid/Carousel video 4.mp4"
          type="video/mp4" />
      </video>
      <div
        class="absolute bottom-0 left-0 right-0 top-0 h-full w-full overflow-hidden bg-fixed"
        style="
          background: linear-gradient(
            45deg,
            rgba(236, 29, 29, 0.7),
            rgba(14, 14, 14, 0.7) 100%
          );
        ">
        <div class="flex h-full items-center justify-center">
          <div class="px-md-0 px-14 text-center text-white">
            <h2 class="mb-4 text-xl md:text-7xl font-semibold">
              Emirates Shooting Ranges Center LLC
            </h2>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>