<section class="bg-neutral-primary transition-all duration-200">
    <div class="py-8 px-4 mx-auto max-w-screen-2xl text-center lg:py-16 [&>*]:transition-all [&>*]:duration-200">
        <h1 class="mb-6 text-4xl font-bold tracking-tighter text-heading md:text-5xl lg:text-6xl">Email Us!</h1>
        <p class="mb-8 text-base font-normal text-body md:text-xl">
            Email us through an online contact form.
        </p>
        <div class="flex flex-col space-y-4 sm:flex-row sm:justify-center sm:space-y-0 md:space-x-4">
            <a href="/Contact_Form">
                <button type="button" class="inline-flex items-center justify-center text-white bg-brand-dark hover:bg-brand-strong box-border border border-transparent focus:ring-4 focus:ring-brand-medium shadow-xs font-medium rounded-base text-base px-5 py-3 focus:outline-none">
                Get started
                <svg class="w-4 h-4 ms-1.5 -me-0.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24"><path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 12H5m14 0-4 4m4-4-4-4"></path>
                </svg>
                </button>
            </a>
        </div>
        <div class="grid md:grid-cols-2 mt-10">
            <div class="relative m-auto md:m-10">
                <table class="w-full text-sm text-left rtl:text-right text-body">
                    <tbody>
                        <tr class="border-b-1 border-brand-dark">
                            <th scope="row" class="px-6 py-4 font-medium text-heading whitespace-nowrap">
                                Hot Line
                            </th>
                            <td class="py-4">
                                +971 4 2666959
                            </td>
                        </tr>
                        <tr class="border-b-1 border-brand-dark">
                            <th scope="row" class="px-6 py-4 font-medium text-heading whitespace-nowrap">
                                Fax Number
                            </th>
                            <td class="py-4">
                                +971 4 4048666
                            </td>
                        </tr>
                        <tr class="border-b-1 border-brand-dark">
                            <th scope="row" class="px-6 py-4 font-medium text-heading whitespace-nowrap">
                                WhatsApp Number
                            </th>
                            <td class="py-4">
                                +971 54 581 3699
                            </td>
                        </tr>
                        <tr class="border-b-1 border-brand-dark">
                            <th scope="row" class="px-6 py-4 font-medium text-heading whitespace-nowrap">
                                Postal Office Box Number
                            </th>
                            <td class="py-4">
                                80229
                            </td>
                        </tr>
                        <tr class="border-b-1 border-brand-dark">
                            <th scope="row" class="px-6 py-4 font-medium text-heading whitespace-nowrap">
                                City
                            </th>
                            <td class="py-4">
                                Al-Qusais Industrial 2, Dubai, UAE
                            </td>
                        </tr>
                        <tr>
                            <th scope="row" class="px-6 py-4 font-medium text-heading whitespace-nowrap">
                                Street Address
                            </th>
                            <td class="py-4">
                                Warehouse 2, Black Tulip Flower, Halab Street
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="p-10">
                <iframe src="https://www.google.com/maps/embed?pb=!1m17!1m12!1m3!1d3607.627514365042!2d55.388319475384584!3d25.283112777655788!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m2!1m1!2zMjXCsDE2JzU5LjIiTiA1NcKwMjMnMjcuMiJF!5e0!3m2!1sen!2seg!4v1766790862137!5m2!1sen!2seg" class="border-2 border-brand-dark w-full h-[320px]" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
    </div>
</section>
