 <!-- Background image
 <div
    class="relative h-96 overflow-hidden bg-[url('/img/guy_shooting.jpg')] bg-cover bg-no-repeat p-12 text-center md:h-screen">
    <div
      class="absolute bottom-0 left-0 right-0 top-0 h-full w-full overflow-hidden bg-teal-950/70 bg-fixed">
      <div class="flex h-full items-center justify-start">
        <div class="text-white mx-10 md:mx-40">
          <h2 class="mb-6 text-4xl font-semibold">
            Introduction
          </h2>
          <h4 class="mb-4 text-sm md:text-xl font-semibold">
            Emarits Shooting Range Is one of the leading companies
            specialized in designing, equipping, and maintaining shooting
            ranges that meet the highest international standards.
          </h4>
          <h4 class="mb-4 text-sm md:text-xl font-semibold">
            Combining technical expertise with engineering precision, the
            company provides comprehensive solutions serving military,
            security, and civilian sectors.
          </h4>
        <h4 class="mb-4 text-sm md:text-xl font-semibold">
            Since its establishment, the company has been committed to
            applying the highest standards of quality and safety, becoming a
            trusted partner in building advanced shooting ranges that ensure
            realistic training and operational performance.
          </h4>
        </div>
      </div>
    </div>
</div>
-->
<div class="dark:bg-neutral-950 bg-neutral-100">
    <div class="container mx-auto px-8 lg:px-16 py-10 ">
        <div class="grid grid-cols-1 lg:grid-cols-2 gap-16 items-center">
            <div>
                <h2 class="text-4xl mb-6 font-bold dark:text-white">About Emirates Shooting Ranges Center LLC</h2>
                <p class="text-muted-foreground mb-6 dark:text-white transition-colors duration-200">
                  Emirates Shooting Ranges Center LLC is one of the leading companies specialized in designing, equipping, and maintaining shooting ranges that meet the highest international standards.
                </p>
                <p class="text-muted-foreground mb-6 dark:text-white transition-colors duration-200">
                  Combining technical expertise with engineering precision, the company provides comprehensive solutions serving military, security, and civilian sectors.
                </p>
                <p class="text-muted-foreground dark:text-white transition-colors duration-200">
                  Since its establishment, the company has been committed to applying the highest standards of quality and safety, becoming a trusted partner in building advanced shooting ranges that ensure realistic training and operational performance.
                </p>
            </div>

            <div class="relative">
                <div class="aspect-[4/3] rounded-lg overflow-hidden">
                    <img
                    src="img/guy_shooting.jpg"
                    alt="Shooting range facility"
                    class="w-full h-full object-cover"
                    />
                </div>
            </div>
        </div>
    </div>
</div>