<section id="Gallery_header" class="bg-neutral-primary dark:bg-neutral-950 transition-colors duration-200">
    <div class="py-8 px-4 mx-auto max-w-screen-2xl text-center lg:py-16">
        <h1 class="mb-6 text-4xl font-bold tracking-tighter text-heading md:text-5xl lg:text-6xl transition-colors duration-200">Achievements & Figures</h1>
        <ul>
            <li class="mb-2 text-base font-normal text-body md:text-xl transition-colors duration-200">Completed many projects in recent years.</li>
            <li class="mb-2 text-base font-normal text-body md:text-xl transition-colors duration-200">Partnerships with military and security organizations across multiple countries.</li>
            <li class="mb-2 text-base font-normal text-body md:text-xl transition-colors duration-200">Integration of advanced simulation and control technologies in all projects.</li>
        </ul>
    </div>
    <div class="py-8 px-4 mx-auto max-w-screen-2xl text-center lg:py-16">
        <div class="border-t-1 dark:border-brand-dark mx-[20%] pb-10 md:pb-20 transition-colors duration-200"></div>
            <h1 class="mb-6 text-4xl font-bold block tracking-tighter text-heading md:text-5xl lg:text-6xl transition-colors duration-200">Gallery</h1>
        <div class="grid grid-cols-2 md:grid-cols-3 gap-4 py-8 px-4">
            <div class="grid gap-4">
                <div>
                    <img class="h-auto max-w-auto rounded-base" src="/img/gallery/g1.jpg" alt="">
                </div>
                <div>
                    <img class="h-auto max-w-auto rounded-base" src="/img/gallery/g6.jpg" alt="">
                </div>
                <div>
                    <img class="h-auto max-w-auto rounded-base" src="/img/gallery/g3.jpg" alt="">
                </div>
            </div>
            <div class="grid gap-4">
                <div>
                    <img class="h-auto max-w-auto rounded-base" src="/img/gallery/g4.jpg" alt="">
                </div>
                <div>
                    <img class="h-auto max-w-auto rounded-base" src="/img/gallery/g5.jpg" alt="">
                </div>
                <div>
                    <img class="h-auto max-w-auto rounded-base" src="/img/gallery/g2.jpg" alt="">
                </div>
            </div>
            <div class="grid gap-4">
                <div>
                    <img class="h-auto max-w-auto rounded-base" src="/img/gallery/g7.jpg" alt="">
                </div>
                <div>
                    <img class="h-auto max-w-auto rounded-base" src="/img/gallery/g11.png" alt="">
                </div>
                <div>
                    <img class="h-auto max-w-auto rounded-base" src="/img/gallery/g9.jpg" alt="">
                </div>
            </div>
            <div class="grid gap-4">
                <div>
                    <img class="h-auto max-w-auto rounded-base" src="/img/gallery/g10.jpg" alt="">
                </div>
                <div>
                    <img class="h-auto max-w-auto rounded-base" src="/img/gallery/g8.jpg" alt="">
                </div>
                <div>
                    <img class="h-auto max-w-auto rounded-base" src="/img/gallery/g12.png" alt="">
                </div>
            </div>
            <div class="grid gap-4">
                <div>
                    <img class="h-auto max-w-auto rounded-base" src="/img/gallery/g13.jpg" alt="">
                </div>
                <div>
                    <img class="h-auto max-w-auto rounded-base" src="/img/gallery/g14.jpg" alt="">
                </div>
                <div>
                    <img class="h-auto max-w-auto rounded-base" src="/img/gallery/g15.jpg" alt="">
                </div>
            </div>
            <div class="grid gap-4">
                <div>
                    <img class="h-auto max-w-auto rounded-base" src="/img/gallery/g16.jpg" alt="">
                </div>
                <div>
                    <img class="h-auto max-w-auto rounded-base" src="/img/gallery/g17.jpg" alt="">
                </div>
                <div>
                    <img class="h-auto max-w-auto rounded-base" src="/img/gallery/g18.jpg" alt="">
                </div>
            </div>
        </div>
    </div>

</section>
