<section class="bg-neutral-50 dark:bg-neutral-900 transition-colors duration-200">
    <div class="gap-16 items-center py-8 px-4 mx-auto max-w-screen-xl lg:grid lg:grid-cols-2 lg:py-16 lg:px-6">
        <div class="text-neutral-500 sm:text-lg dark:text-neutral-400">
            <h2 class="transition-colors duration-200 mb-4 text-4xl tracking-tight font-simibold text-neutral-900 dark:text-white">Our Projects</h2>
            <p class="mb-4 transition-colors duration-200">
                Emirates Shooting Center takes pride In its extensive portfolio of
                projects successfully delivered to military, security, and civilian
                entities both locally and internationally.
            </p>
            <p class="mb-4 transition-colors duration-200">
                Each project reflects the company’s commitment to excellence,
                precision, and adherence to the highest quality standards.
            </p>
        </div>
        <div class="grid grid-cols-2 gap-4 mt-8">
            <img class="w-full rounded-lg" src="/img/girl_shooting.jpg" alt="shooting content 1">
            <img class="mt-4 w-full lg:mt-10 rounded-lg" src="/img/girl_shooting2.jpg" alt="shooting content 2">
        </div>
    </div>

    <div class="grid grid-cols-1 gap-4 md:grid-cols-3 pt-2 pb-8 px-4 mx-auto max-w-screen-xl">
        <div class="bg-neutral-primary-soft block max-w-sm border border-brand-dark rounded-base shadow-xs transition-colors duration-200">
            <div class="p-6 text-center">
                <h5 class="mt-3 mb-4 text-2xl font-semibold tracking-tight text-heading transition-colors duration-200">Comprehensive Project Execution</h5>
                <p class="mb-6 text-justify dark:text-brand-dark-white transition-colors duration-200">Our projects are executed using the latest technologies In shooting
                range design, moving target systems, and advanced simulation
                solutions creating realistic and secure training environments.</p>
            </div>
        </div>

        <div class="bg-neutral-primary-soft block max-w-sm border border-brand-dark rounded-base shadow-xs transition-colors duration-200">
            <div class="p-6 text-center">
                <h5 class="mt-3 mb-4 text-2xl font-semibold tracking-tight text-heading transition-colors duration-200">Trusted Partnerships</h5>
                <p class="mb-6 text-justify dark:text-brand-dark-white transition-colors duration-200">The company has established solid collaborations with
                governmental and military authorities, executing strategic projects
                that demonstrate its technical expertise and reliability while
                maintaining strict adherence to safety and timelines.</p>
            </div>
        </div>

        <div class="bg-neutral-primary-soft block max-w-sm border border-brand-dark rounded-base shadow-xs transition-colors duration-200">
            <div class="p-6 text-center">
                <h5 class="mt-3 mb-4 text-2xl font-semibold tracking-tight text-heading transition-colors duration-200">Excellence in Performance</h5>
                <p class="mb-6 text-justify dark:text-brand-dark-white transition-colors duration-200">Emirates Shooting Center focuses on achieving optimal operational
                performance across all projects, positioning Itself as a trusted
                regional partner in developing modern shooting ranges.</p>
            </div>
        </div>
    </div>
</section>