<section id="Gallery_header" class="bg-neutral-primary dark:bg-neutral-950 transition-colors duration-200">
    <div class="py-8 px-4 mx-auto max-w-screen-2xl text-center lg:py-16">
        <h1 class="mb-6 text-4xl font-bold tracking-tighter text-heading md:text-5xl lg:text-6xl transition-colors duration-200">Achievements & Figures</h1>
        <ul>
            <li class="mb-2 text-base font-normal text-body md:text-xl transition-colors duration-200">Completed many projects in recent years.</li>
            <li class="mb-2 text-base font-normal text-body md:text-xl transition-colors duration-200">Partnerships with military and security organizations across multiple countries.</li>
            <li class="mb-2 text-base font-normal text-body md:text-xl transition-colors duration-200">Integration of advanced simulation and control technologies in all projects.</li>
        </ul>
    </div>
    <div class="py-8 px-4 mx-auto max-w-screen-2xl text-center lg:py-16">
        <div class="border-t-1 dark:border-brand-dark mx-[20%] pb-10 md:pb-20 transition-colors duration-200"></div>
        <h1 class="mb-6 text-4xl font-bold block tracking-tighter text-heading md:text-5xl lg:text-6xl transition-colors duration-200">Gallery</h1>
        <div id="controls-carousel" class="relative w-full" data-carousel="static">
            <div class="relative h-[200px] overflow-hidden rounded-base md:h-[630px]">
                <div class="hidden duration-700 ease-in-out" data-carousel-item>
                    <img src="/img/gallery/g1.jpg" class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="...">
                </div>
                <div class="hidden duration-700 ease-in-out" data-carousel-item="active">
                    <img src="/img/gallery/g10.jpg" class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="...">
                </div>
                <div class="hidden duration-700 ease-in-out" data-carousel-item>
                    <img src="/img/gallery/g8.jpg" class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="...">
                </div>
                <div class="hidden duration-700 ease-in-out" data-carousel-item>
                    <img src="/img/gallery/g16.jpg" class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="...">
                </div>
                <div class="hidden duration-700 ease-in-out" data-carousel-item>
                    <img src="/img/gallery/g13.jpg" class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="...">
                </div>
            </div>
            <button type="button" class="absolute top-0 start-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none" data-carousel-prev>
                <span class="inline-flex items-center justify-center w-10 h-10 rounded-base bg-white/30 dark:bg-gray-800/30 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none">
                    <svg class="w-5 h-5 text-white rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24"><path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m15 19-7-7 7-7"/></svg>
                    <span class="sr-only">Previous</span>
                </span>
            </button>
            <button type="button" class="absolute top-0 end-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none" data-carousel-next>
                <span class="inline-flex items-center justify-center w-10 h-10 rounded-base bg-white/30 dark:bg-gray-800/30 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none">
                    <svg class="w-5 h-5 text-white rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24"><path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m9 5 7 7-7 7"/></svg>
                    <span class="sr-only">Next</span>
                </span>
            </button>
        </div>
        <div class="py-5 px-4 text-center lg:py-10">
            <a href="{{ url_for('gallery') }}">
              <button class="text-primary duration-200 hover:gap-3 inline-flex items-center gap-2 transition-all group text-sm dark:text-white">
                <span class="uppercase tracking-wider">View More</span>
                <svg class="w-4 h-4 group-hover:translate-x-1 transition-transform mb-0.5" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7"></path>
                </svg>
              </button>
            </a>
        </div>
    </div>
</section>
