<section id="our_products" class="bg-neutral-50 dark:bg-neutral-900 transition duration-200">
    <div class="text-center pt-10">
        <h1 class="mb-6 text-4xl font-bold block tracking-tighter text-heading md:text-5xl lg:text-6xl transition-colors duration-200">Our Products</h1>
    </div>
    <div class="grid grid-cols-1 md:grid-cols-2 gap-4 p-10 justify-items-center">
        <div class="flex flex-col items-center bg-brand-dark md:flex-row md:max-w-xl md:h-80">
            <img class="object-cover overflow-auto w-full h-[120px] md:h-full md:w-[150%] mb-4 md:mb-0" src="/img/receptive%20target.png" alt="">
            <div class="flex flex-col justify-between px-4 py-auto leading-normal">
                <h5 class="mb-2 text-2xl font-bold tracking-tight text-brand-dark-white">Receptive targets</h5>
                <p class="mb-6 text-neutral-100">we go beyond conventional target systems by offering automated, reactive, and programmable shooting
    solutions that redefine training efficiency and shooter experience.<br>
                Unlike standard pop-up targets, our automated silhouette systems provide a realistic, interactive response to each shot, instantly
    resetting for continuous engagement and adaptive training scenarios</p>
            </div>
        </div>
        <div class="flex flex-col items-center bg-brand-dark md:flex-row md:max-w-xl md:h-80">
            <img class="object-cover overflow-auto w-full h-[120px] md:h-full md:w-[150%] mb-4 md:mb-0" src="/img/norm%20targets.png" alt="">
            <div class="flex flex-col justify-between px-4 py-5 leading-normal">
                <h5 class="mb-2 text-2xl font-bold tracking-tight text-brand-dark-white">Norm-Target Retrieval Systems</h5>
                <p class="mb-6 text-neutral-100">we revolutionize target retrieval systems with mono-rail mobility, adaptive speed control, and
    customizable configurations.<br>
                Our Norm-Target Retrieval Systems are engineered for precision, allowing shooters to refine accuracy, stability,and
    focus under dynamic conditions.</p>
            </div>
        </div>
        <div class="flex flex-col items-center bg-brand-dark md:flex-row md:max-w-xl md:h-80">
            <img class="object-cover overflow-auto w-full h-[120px] md:h-full md:w-[150%] mb-4 md:mb-0" src="/img/pro%20system.png" alt="">
            <div class="flex flex-col justify-between px-4 py-5 leading-normal">
                <h5 class="mb-2 text-2xl font-bold tracking-tight text-brand-dark-white">Pro Target Retrieval System</h5>
                <p class="mb-6 text-neutral-100">Designed for elite shooters, ensuring seamless operation, rapid adaptability, and precision training<br>
                Unlike conventional retrieval systems, our Pro Target System integrates advanced automation and intelligent movement
    tracking, providing a real-world shooting experience that enhances accuracy, reaction time, and tactical decision-making.</p>
            </div>
        </div>
        <div class="flex flex-col items-center bg-brand-dark md:flex-row md:max-w-xl md:h-80">
            <img class="object-cover overflow-auto w-full h-[120px] md:h-full md:w-[150%] mb-4 md:mb-0" src="/img/gallery/gallery/17.jpeg" alt="">
            <div class="flex flex-col justify-between px-4 py-5 leading-normal">
                <h5 class="mb-2 text-2xl font-bold tracking-tight text-brand-dark-white">Steel Pop-Up Targets</h5>
                <p class="mb-6 text-neutral-100">We redefine fast-paced shooting training with our customizable, laser-cut steel pop-up targets.<br>
                Unlike traditional static targets, our steel pop-up silhouettes integrate automated control technology, allowing
    trainers to adjust difficulty,speed,and engagement scenarios with precision.</p>
            </div>
        </div>
        <div class="flex flex-col items-center bg-brand-dark md:flex-row md:max-w-xl md:h-80">
            <img class="object-cover overflow-auto w-full h-[120px] md:h-full md:w-[150%] mb-4 md:mb-0" src="/img/gallery/g1.jpg" alt="">
            <div class="flex flex-col justify-between px-4 py-5 leading-normal">
                <h5 class="mb-2 text-2xl font-bold tracking-tight text-brand-dark-white">Simulator Targets</h5>
                <p class="mb-6 text-neutral-100">Our simulator targets offer a modern,immersive shooting experience by utilizing
    laser-powered arm forces insteadof traditional bullets.<br>
                Designed for both small and large indoor spaces, our simulator targets are fully
    customizable and can be tailored to meet the specific needs of each client. Once
    installed, it transforms the area into a fully functional indoor-shooting range.</p>
            </div>
        </div>
        <div class="flex flex-col items-center bg-brand-dark md:flex-row md:max-w-xl md:h-80">
            <img class="object-cover overflow-auto w-full h-[120px] md:h-full md:w-[150%] mb-4 md:mb-0" src="/img/central_system_2.png" alt="">
            <div class="flex flex-col justify-between px-4 py-5 leading-normal">
                <h5 class="mb-2 text-2xl font-bold tracking-tight text-brand-dark-white">LOMAH System</h5>
                <p class="mb-6 text-neutral-100"> LOMAH redefines accuracy, efficiency, and performance across various training and competitive environments.<br>
                LOMAH, short for Location of Miss and Hit, is
                engineered to provide real-time shot detection with
                pinpoint accuracy. Unlike conventional target systems,
                LOMAH not only identifies shot placement but also
                provides comprehensive scoring data and zone
                breakdowns</p>
            </div>
        </div>
        <div class="flex flex-col items-center bg-brand-dark md:flex-row md:max-w-xl md:h-80">
            <img class="object-cover overflow-auto w-full h-[120px] md:h-full md:w-[150%] mb-4 md:mb-0" src="/img/gallery/g12.png" alt="">
            <div class="flex flex-col justify-between px-4 py-5 leading-normal">
                <h5 class="mb-2 text-2xl font-bold tracking-tight text-brand-dark-white">Tactical House</h5>
                <p class="mb-6 text-neutral-100">the Tactical House, a highly
                developed, reconfigurable shooting range that simulates real-world environments. Our innovative
                modular design enables trainers to adapt interior layouts to constantly challenge.<br>
                Weather-resistant, fire-resistant, and
                durable panels ensure longevity in both indoor
                and out door training environments.</p>
            </div>
        </div>
        <div class="flex flex-col items-center bg-brand-dark md:flex-row md:max-w-xl md:h-80">
            <img class="object-cover overflow-auto w-full h-[120px] md:h-full md:w-[150%] mb-4 md:mb-0" src="/img/gallery/g10.jpg" alt="">
            <div class="flex flex-col justify-between px-4 py-5 leading-normal">
                <h5 class="mb-2 text-2xl font-bold tracking-tight text-brand-dark-white">Shooting Stalls</h5>
                <p class="mb-6 text-neutral-100">Our approach to constructing a shooting range is to design and build an integrated range,
where safety and durability are our priority<br>
                Built for Durability & Efficiency
                constructed with double steel-jacketed
                walls & high-grade chrome diamond
                plates for long-lasting resilience.</p>
            </div>
        </div>
        <div class="flex flex-col items-center bg-brand-dark md:flex-row md:max-w-xl md:h-80">
            <img class="object-cover overflow-auto w-full h-[120px] md:h-full md:w-[150%] mb-4 md:mb-0" src="/img/central_system.png" alt="">
            <div class="flex flex-col justify-between px-4 py-5 leading-normal">
                <h5 class="mb-2 text-2xl font-bold tracking-tight text-brand-dark-white">Control Systems</h5>
                <p class="mb-6 text-neutral-100">We provide a fully cohesive system that seamlessly
                connects to all essential shooting range accessories,
                ensuring maximum efficiency and safety.<br>
                Our advanced wireless technology delivers instant
                responsiveness, high-level security, and comprehensive
                range customization—raising the bar for precision
                training.</p>
            </div>
        </div>
        <div class="flex flex-col items-center bg-brand-dark md:flex-row md:max-w-xl md:h-80">
            <img class="object-cover overflow-auto w-full h-[120px] md:h-full md:w-[150%] mb-4 md:mb-0" src="/img/sound%20blocker.png" alt="">
            <div class="flex flex-col justify-between px-4 py-5 leading-normal">
                <h5 class="mb-2 text-2xl font-bold tracking-tight text-brand-dark-white">Sound Acoustics</h5>
                <p class="mb-6 text-neutral-100">Our sound insulation solutions are designed to optimize noise control and acoustic performance. Specialized
                acoustic foam and noise-proof structures effectively absorb and trap firearm noise, ensuring a safer and more
                comfortable shooting environment.<br>
            </div>
        </div>
    </div>
    <div class="text-center pt-10">
        <h1 class="mb-6 text-2xl font-bold block tracking-tighter text-heading md:text-3xl lg:text-4xl transition-colors duration-200">Bullet Traps</h1>
    </div>
    <div class="grid grid-cols-1 md:grid-cols-2 gap-4 p-10 justify-items-center">
        <div class="flex flex-col items-center bg-brand-dark md:flex-row md:max-w-xl md:h-80">
            <img class="object-cover overflow-auto w-full h-[120px] md:h-full md:w-[150%] mb-4 md:mb-0" src="/img/block%20trap.png" alt="">
            <div class="flex flex-col justify-between px-4 py-5 leading-normal">
                <h5 class="mb-2 text-2xl font-bold tracking-tight text-brand-dark-white">Block Trap</h5>
                <p class="mb-6 text-neutral-100">Engineered for superior safety and durability, our Block Trap is the most
                trusted bullet containment system for commercial and tactical shooting ranges.<br>
                Whether indoors or outdoors, this advanced trap effectively captures bullets,
                preventing ricochets and ensuring a safer shooting environment.
            </div>
        </div>
        <div class="flex flex-col items-center bg-brand-dark md:flex-row md:max-w-xl md:h-80">
            <img class="object-cover overflow-auto w-full h-[120px] md:h-full md:w-[150%] mb-4 md:mb-0" src="/img/snail%20trap.png" alt="">
            <div class="flex flex-col justify-between px-4 py-5 leading-normal">
                <h5 class="mb-2 text-2xl font-bold tracking-tight text-brand-dark-white">Snail Trap</h5>
                <p class="mb-6 text-neutral-100">Snail Trap redefines safety and efficiency in ballistic containment. Unlike conventional traps that
                merely absorb impact, the Snail Trap harnesses advanced deceleration technology to control
                and neutralize bullet energy systematically. This outstanding design sets a new industry standard
                for innovation-driven customers seeking the best in firearm safety and range performance.
            </div>
        </div>
    </div>
    <div class="text-center pb-10">
        <p class="block tracking-tighter text-heading transition-colors duration-200"><a class="hover:underline underline-offset-8" href="/Contact_Us">Contact us</a> to learn more</p>
    </div>
</section>