.scroll-container {
    display: flex;
    width: max-content;
    animation: scroll-left 60s linear infinite;
}

@keyframes scroll-left {
    0% { transform: translateX(0); }
    100% { transform: translateX(-50%); }
}

.scroll-container-right {
    display: flex;
    width: max-content;
    animation: scroll-right 60s linear infinite;
}

@keyframes scroll-right {
    0% { transform: translateX(0); }
    100% { transform: translateX(50%); }
}