<section class="bg-neutral-50 dark:bg-neutral-900 transition-all duration-200">
    <div class="pt-8 px-4 mx-auto md:mx-40 max-w-screen-2xl text-center lg:py-16 [&>*]:transition-all [&>*]:duration-200">
        <h1 class="mb-6 text-4xl font-bold tracking-tighter text-heading md:text-5xl lg:text-6xl">شركاؤنا</h1>
        <p class="text-base font-normal text-body md:text-xl">
            يعمل المركز بالتعاون مع مجموعة من الشركاء التقنيين والفنيين الدوليين لتوفير أحدث الأنظمة
            المستخدمة في تجهيز ميادين الرماية.<br>
            يعتمد هذا التعاون على تبادل الخبرات ونقل المعرفة بما يضمن تطبيق أفضل الممارسات العالمية
            في كل مشروع.
        </p>
    </div>
    <div class="mx-auto max-w-7xl px-4 pb-8 sm:px-6 lg:px-8">
      <div>
        <h1 class="mb-6 text-lg font-bold tracking-tighter text-heading md:text-2xl">من أبرز مجالات التعاون:</h1>
      </div>
      <div class="grid grid-cols-1 gap-8 md:grid-cols-3">
        <div class="flex items-start gap-4 rounded-lg border border-neutral-200 p-6 justify-center">
            <h3 class="text-lg font-semibold text-heading">توريد الانظمة التقنية والذكية</h3>
        </div>

        <div class="flex items-start gap-4 rounded-lg border border-neutral-200 p-6 justify-center">
            <h3 class="text-lg font-semibold text-heading">الاستشارات الهندسية والفنية</h3>
        </div>

        <div class="flex items-start gap-4 rounded-lg border border-neutral-200 p-6 justify-center">
            <h3 class="text-lg font-semibold text-heading">دعم وتدريب الفرق الفنية على تشغيل الانظمة</h3>
        </div>
      </div>
    </div>
</section>
