<section class="bg-neutral-primary py-10 transition-all duration-200">
    <div class="mx-auto max-w-7xl px-4 py-8 sm:px-6 lg:px-8">
      <div class="grid grid-cols-1 gap-8 md:grid-cols-2">
        <div class="col-span-1 [&>*]:transition-all [&>*]:duration-200">
          <h2 class="text-3xl/tight font-bold text-neutral-900 sm:text-4xl dark:text-white">
            عملاؤنا
          </h2>

          <p class="mt-4 text-lg text-pretty text-neutral-700 dark:text-neutral-200">
            تضم قائمة عملائنا مؤسسات وجهات حكومية وعسكرية من داخل الدولة وخارجها، تثق بخبراتنا
الفنية والتقنية في تنفيذ مشاريع دقيقة تواكب أعلى المعايير الدولية.          <br><br>
            يستند التعاون مع عملائنا على مبادئ الثقة والالتزام والجودة المستمرة في الاداء.
          </p>
        </div>

        <div class="space-y-6 [&>*]:transition-all [&>*]:duration-200">
          <div class="flex items-start gap-4 [&>*]:transition-all [&>*]:duration-200">
            <div class="shrink-0 rounded-lg bg-neutral-100 p-3 text-neutral-700 dark:bg-neutral-800 dark:text-neutral-200 transition-all duration-200">
              <svg class="w-6 h-6 transition-all duration-200 text-neutral-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                  <path stroke="currentColor" stroke-width="2" d="M11.083 5.104c.35-.8 1.485-.8 1.834 0l1.752 4.022a1 1 0 0 0 .84.597l4.463.342c.9.069 1.255 1.2.556 1.771l-3.33 2.723a1 1 0 0 0-.337 1.016l1.03 4.119c.214.858-.71 1.552-1.474 1.106l-3.913-2.281a1 1 0 0 0-1.008 0L7.583 20.8c-.764.446-1.688-.248-1.474-1.106l1.03-4.119A1 1 0 0 0 6.8 14.56l-3.33-2.723c-.698-.571-.342-1.702.557-1.771l4.462-.342a1 1 0 0 0 .84-.597l1.753-4.022Z"></path>
                </svg>
            </div>

            <div>
              <h3 class="text-lg font-semibold text-neutral-900 dark:text-white transition-all duration-200">
                الأمن والجيش
              </h3>

              <p class="mt-1 text-neutral-700 dark:text-neutral-200 transition-all duration-200">
                جهات أمنية وعسكرية في الدولة والمنطقة
              </p>
            </div>
          </div>

          <div class="flex items-start gap-4 [&>*]:transition-all [&>*]:duration-200">
            <div class="shrink-0 rounded-lg bg-neutral-100 p-3 text-neutral-700 dark:bg-neutral-800 dark:text-neutral-200 transition-all duration-200">
                <svg class="w-6 h-6 transition-all duration-200 text-neutral-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m7.171 12.906-2.153 6.411 2.672-.89 1.568 2.34 1.825-5.183m5.73-2.678 2.154 6.411-2.673-.89-1.568 2.34-1.825-5.183M9.165 4.3c.58.068 1.153-.17 1.515-.628a1.681 1.681 0 0 1 2.64 0 1.68 1.68 0 0 0 1.515.628 1.681 1.681 0 0 1 1.866 1.866c-.068.58.17 1.154.628 1.516a1.681 1.681 0 0 1 0 2.639 1.682 1.682 0 0 0-.628 1.515 1.681 1.681 0 0 1-1.866 1.866 1.681 1.681 0 0 0-1.516.628 1.681 1.681 0 0 1-2.639 0 1.681 1.681 0 0 0-1.515-.628 1.681 1.681 0 0 1-1.867-1.866 1.681 1.681 0 0 0-.627-1.515 1.681 1.681 0 0 1 0-2.64c.458-.361.696-.935.627-1.515A1.681 1.681 0 0 1 9.165 4.3ZM14 9a2 2 0 1 1-4 0 2 2 0 0 1 4 0Z"></path>
                </svg>
            </div>

            <div>
              <h3 class="text-lg font-semibold text-neutral-900 dark:text-white transition-all duration-200">
                مؤسسات تدريب
              </h3>

              <p class="mt-1 text-neutral-700 dark:text-neutral-200 transition-all duration-200">
                مؤسسات تدريب وتأهيل ميداني
              </p>
            </div>
          </div>

          <div class="flex items-start gap-4 [&>*]:transition-all [&>*]:duration-200">
            <div class="shrink-0 rounded-lg bg-neutral-100 p-3 text-neutral-700 dark:bg-neutral-800 dark:text-neutral-200 transition-all duration-200">
                <svg class="w-6 h-6 transition-all duration-200 text-neutral-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                  <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m8.032 12 1.984 1.984 4.96-4.96m4.55 5.272.893-.893a1.984 1.984 0 0 0 0-2.806l-.893-.893a1.984 1.984 0 0 1-.581-1.403V7.04a1.984 1.984 0 0 0-1.984-1.984h-1.262a1.983 1.983 0 0 1-1.403-.581l-.893-.893a1.984 1.984 0 0 0-2.806 0l-.893.893a1.984 1.984 0 0 1-1.403.581H7.04A1.984 1.984 0 0 0 5.055 7.04v1.262c0 .527-.209 1.031-.581 1.403l-.893.893a1.984 1.984 0 0 0 0 2.806l.893.893c.372.372.581.876.581 1.403v1.262a1.984 1.984 0 0 0 1.984 1.984h1.262c.527 0 1.031.209 1.403.581l.893.893a1.984 1.984 0 0 0 2.806 0l.893-.893a1.985 1.985 0 0 1 1.403-.581h1.262a1.984 1.984 0 0 0 1.984-1.984V15.7c0-.527.209-1.031.581-1.403Z"></path>
                </svg>
            </div>

            <div>
              <h3 class="text-lg font-semibold text-neutral-900 dark:text-white transition-all duration-200">
                هيئات مدنية
              </h3>

              <p class="mt-1 text-neutral-700 dark:text-neutral-200 transition-all duration-200">
                هيئات مدنية تتبنى برامج تدريب باستخدام تقنيات الرماية
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="overflow-hidden py-8">
      <div class="scroll-container-right w-max gap-8">
        <div class="flex gap-8">
            {% for i in range(1, 33) %}
              <div class="flex items-center justify-center w-50">
                <img src="/img/logos/{{ i }}.jpeg"
                     class="object-cover max-h-45 rounded-md" alt="">
              </div>
            {% endfor %}
            {% for i in range(1, 33) %}
              <div class="flex items-center justify-center w-50">
                <img src="/img/logos/{{ i }}.jpeg"
                     class="object-cover rounded-md" alt="">
              </div>
            {% endfor %}
        </div>
      </div>
    </div>
</section>
