<section class="overflow-hidden bg-neutral-50 sm:grid sm:grid-cols-2 dark:bg-neutral-900">
  <div class="p-8 md:p-12 lg:px-16 lg:py-24">
    <div class="mx-auto max-w-xl text-center ltr:sm:text-left rtl:sm:text-right">
      <h2 class="text-4xl font-bold text-neutral-900 md:text-7xl dark:text-white">
        الشركاء والعملاء
      </h2>

      <p class="text-neutral-500 md:mt-4 md:block dark:text-neutral-300 md:text-lg">
        تفخر شركة مركز الإمارات للرماية بعالقاتها الممتدة مع نخبة من الجهات الامنية
        والعسكرية والمدنية التي منحتها ثقتها لتنفيذ مشاريعها المتخصصة في تصميم وتجهيز وصيانة
        ميادين الرماية. <br><br>
        وقد ساهمت هذه الشراكات في تعزيز مكانة الشركة كمزود موثوق للحلول التقنية والهندسية في
        هذا المجال الحيوي.
      </p>

      <div class="mt-4 md:mt-8">
        <a href="#">
          <button class="text-primary duration-200 hover:gap-3 inline-flex items-center gap-2 transition-all group text-sm dark:text-white">
            <span class="uppercase tracking-wider">اتصل بنا</span>
            <svg class="w-4 h-4 group-hover:translate-l-2 transition-transform" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m15 19-7-7 7-7"></path>
            </svg>
          </button>
        </a>
      </div>
    </div>
  </div>

  <img alt="" src="/img/hand_shake_3.jpg" class="h-56 w-full object-cover sm:h-full">
</section>