<section class="bg-neutral-primary transition-all duration-200">
    <div class="py-8 px-4 mx-auto max-w-screen-2xl text-center lg:py-16 [&>*]:transition-all [&>*]:duration-200">
        <h1 class="mb-6 text-4xl font-bold tracking-tighter text-heading md:text-5xl lg:text-6xl">ارسلنا ايمايل!</h1>
        <p class="mb-8 text-base font-normal text-body md:text-xl">
            راسلنا عبر نموذج الاتصال الإلكتروني.
        </p>
        <div class="flex flex-col space-y-4 sm:flex-row sm:justify-center sm:space-y-0 md:space-x-4">
            <button type="button" class="inline-flex items-center justify-center text-white bg-brand-dark hover:bg-brand-strong box-border border border-transparent focus:ring-4 focus:ring-brand-medium shadow-xs font-medium rounded-base text-base px-5 py-3 focus:outline-none">
                أرسل لنا
                <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                  <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 12h14M5 12l4-4m-4 4 4 4"></path>
                </svg>
            </button>
        </div>
    </div>
</section>
