<section class="bg-neutral-primary">
    <div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16">
        <section class="bg-neutral-primary">
            <div class="py-8 px-4 mx-auto max-w-screen-2xl text-center lg:py-16">
                <h1 class="mb-6 text-4xl font-bold tracking-tighter text-heading md:text-5xl lg:text-6xl">خدماتنا</h1>
                <p class="mb-8 text-base font-normal text-body md:text-xl">نسعى دائما إلى تطوير مشاريعنا لتكون نموذجا يحتذى به في الاحتراف والموثوقية، بما يخدم
                شركاءنا في القطاعين الأمني والعسكري.
                </p>
            </div>
        </section>
        <div class="grid md:grid-cols-3 gap-8 justify-around">
            <div class="relative group w-full h-80 border-2 border-brand dark:border-brand-dark-white overflow-hidden rounded-xl">
                <img src="/img/guys_shooting.jpg"
                     class="w-full h-full object-cover transition-all duration-500 group-focus:scale-110 group-hover:scale-110"
                     alt="">

                <div class="absolute inset-0 bg-gradient-to-t to-red-600/80 from-red-600/10
                md:opacity-0 group-hover:opacity-100  group-focus:opacity-100 transition-opacity duration-300">
                </div>

                <div class="absolute inset-0 p-5 md:p-10 justify-center
                            text-white md:opacity-0 group-hover:opacity-100 group-focus:opacity-100
                            transition-all duration-300">

                    <h3 class="text-xl font-semibold mb-2">تصميم وتنفيذ ميادين الرماية</h3>
                    <p class="text-sm md:text-normal px-2">
                        نقدم حلولا متكاملة لتصميم وتنفيذ ميادين الرماية الداخلية والخارجية، مع مراعاة أدق معايير
                        الأمان والسلامة والتوافق مع المتطلبات التشغيلية للجهات الأمنية والعسكرية.
                        <br><br>
                        يشمل ذلك تصميم بيئات تدريبية واقعية تحاكي ظروف الميدان، مع استخدام أحدث التقنيات في
                        أنظمة الأهداف والتحكم.
                    </p>
                </div>
            </div>

            <div class="relative group w-full h-80 border-2 border-brand dark:border-brand-dark-white overflow-hidden rounded-xl">
                <img src="/img/equipment.jpg"
                     class="w-full h-full object-cover transition-all duration-500 group-focus:scale-110 group-hover:scale-110"
                     alt="">

                <div class="absolute inset-0 bg-gradient-to-t to-red-600/80 from-red-600/10
                md:opacity-0 group-hover:opacity-100  group-focus:opacity-100 transition-opacity duration-300">
                </div>

                <div class="absolute inset-0 p-5 md:p-10 justify-center
                            text-white md:opacity-0 group-hover:opacity-100 group-focus:opacity-100
                            transition-all duration-300">

                    <h3 class="text-xl font-semibold mb-2">توريد وتركيب أنظمة الأهداف</h3>
                    <p class="text-sm md:text-normal px-2">
                       يوفر المركز مجموعة متكاملة من أنظمة الأهداف المتطورة، تشمل الأهداف الثابتة والمتحركة
                        والدوارة بالإضافة إلى أنظمة المحاكاة الذكية، والتي تدار عبر أنظمة تحكم مركزية عالية الدقة.
                        <br><br>
                        نلتزم في كل مشروع بضمان الأداء الموثوق والتكامل التام بين الأنظمة الميدانية والتقنيات
                        الرقمية.
                    </p>
                </div>
            </div>

            <div class="relative group w-full h-80 border-2 border-brand dark:border-brand-dark-white overflow-hidden rounded-xl">
                <img src="/img/maintenance.jpg"
                     class="w-full h-full object-cover transition-all duration-500 group-focus:scale-110 group-hover:scale-110"
                     alt="">

                <div class="absolute inset-0 bg-gradient-to-t to-red-600/80 from-red-600/10
                md:opacity-0 group-hover:opacity-100  group-focus:opacity-100 transition-opacity duration-300">
                </div>

                <div class="absolute inset-0 p-5 md:p-10 justify-center
                            text-white md:opacity-0 group-hover:opacity-100 group-focus:opacity-100
                            transition-all duration-300">

                    <h3 class="text-xl font-semibold mb-2">الصيانة والتحديث</h3>
                    <p class="text-sm md:text-normal px-2">نقدم خدمات الصيانة الدورية والوقائية لجميع أنواع ميادين الرماية والأنظمة التقنية المرتبطة بها. <br><br>
                     كما نوفر حلول تحديث شاملة تشمل تطوير البرمجيات والمكونات الميكانيكية والإلكترونية لضمان
                    استمرارية الأداء بأعلى كفاءة تشغيلية.
                    </p>
                </div>
            </div>
        </div>
        <div class="grid md:grid-cols-2 py-8 md:px-[16%] gap-8 justify-around">
            <div class="relative group w-full h-80 border-2 border-brand dark:border-brand-dark-white overflow-hidden rounded-xl">
                <img src="/img/safety.jpg"
                     class="w-full h-full object-cover transition-all duration-500 group-focus:scale-110 group-hover:scale-110"
                     alt="">

                <div class="absolute inset-0 bg-gradient-to-t to-red-600/80 from-red-600/10
                md:opacity-0 group-hover:opacity-100  group-focus:opacity-100 transition-opacity duration-300">
                </div>

                <div class="absolute inset-0 p-5 md:p-10 justify-center
                            text-white md:opacity-0 group-hover:opacity-100 group-focus:opacity-100
                            transition-all duration-300">

                    <h3 class="text-xl font-semibold mb-2">التجهيزات الأمنية والسلامة </h3>
                    <p class="text-sm md:text-normal px-2">
                        يهتم المركز بتوفير حلول أمان متكاملة تشمل أنظمة المراقبة، الحماية من المقذوفات، العزل
                        الصوتي، والتهوية المتقدمة.
                        <br><br>
                        جميع التجهيزات تنفذ وفق المواصفات العالمية لضمان بيئة تدريب آمنة ومطابقة للمعايير
                        العسكرية والدولية.
                    </p>
                </div>
            </div>

            <div class="relative group w-full h-80 border-2 border-brand dark:border-brand-dark-white overflow-hidden rounded-xl">
                <img src="/img/technology.jpg"
                     class="w-full h-full object-cover transition-all duration-500 group-focus:scale-110 group-hover:scale-110"
                     alt="">

                <div class="absolute inset-0 bg-gradient-to-t to-red-600/80 from-red-600/10
                md:opacity-0 group-hover:opacity-100  group-focus:opacity-100 transition-opacity duration-300">
                </div>

                <div class="absolute inset-0 p-5 md:p-10 justify-center
                            text-white md:opacity-0 group-hover:opacity-100 group-focus:opacity-100
                            transition-all duration-300">

                    <h3 class="text-xl font-semibold mb-2">الاستشارات الفنية والهندسية</h3>
                    <p class="text-sm md:text-normal px-2">
                        يضم فريقنا نخبة من المهندسين والخبراء المتخصصين في تقييم ميادين الرماية وتقديم الحلول
                        الفنية المناسبة لتطويرها أو إعادة تأهيلها بما يتماشى مع أحدث تقنيات التدريب الميداني.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
