<section id="services" class="overflow-hidden bg-neutral-50 dark:bg-neutral-900">
      <div class="relative h-[600px] overflow-hidden">
      <img
        src="/img/guys_shooting_2.jpg"
        alt="Advanced technology control systems"
        class="w-full h-full object-cover"
      />
      <div class="absolute inset-0 bg-gradient-to-r to-red-950/95 via-red-900/85 from-black/60"></div>
      <div class="absolute inset-0 flex items-center">
        <div class="max-w-7xl mx-auto px-6 lg:px-8 w-full">
          <div class="max-w-3xl">
            <div class="inline-block bg-red-600 text-white px-4 py-2 rounded-full mb-6 text-lg">
              التكنولوجيا الرائدة في المجال
            </div>
            <h1 class="text-white font-bold mb-6 text-5xl lg:text-6xl">الأنظمة والتقنيات</h1>
            <p class="text-xl text-gray-100 mb-10 leading-relaxed">
            في مركز الامارات لميادين الرماية ش.ذ.م.م نعمل باستمرار على تطوير حلول تقنية متكاملة
            تضمن دقة الأداء وكفاءة التشغيل في جميع مشاريعنا.<br><br>
            يعتمد المركز على أنظمة حديثة تم تصميمها لتلبية متطلبات التدريب الميداني وفقا لأعلى
            المواصفات العالمية.
            </p>
          </div>
        </div>
      </div>
    </div>
</section>