<section class="bg-neutral-50 dark:bg-neutral-900 lg:mt-[-65px] transition-all duration-200">
    <div id="targets" class="overflow-hidden sm:grid sm:grid-cols-2 sm:items-center">
      <div class="p-8 md:p-12 lg:px-16 lg:py-24">
        <div class="mx-auto max-w-xl text-center ltr:sm:text-left rtl:sm:text-right">
          <h2 class="text-3xl font-bold text-neutral-900 dark:text-white md:text-6xl">
            أنظمة الاهداف المتحركة
          </h2>
          <p class="text-neutral-500 mt-4 text-xl">
            تتيح هذه الانظمة محاكاة واقعية لبيئات الرماية، مع إمكانية التحكم في سرعة واتجاه الاهداف
            إلكترونيا، لتوفير تجربة تدريب فعالة وآمنة. <br><br>
            تتميز الانظمة بالثبات والمرونة وسهولة التكامل مع أنظمة التحكم المركزية.
          </p>
        </div>
      </div>

      <img alt="" src="/img/targets.jpg" class="pr-5 pb-5 h-full rounded-br-[80px] w-full object-cover sm:h-[calc(100%-2rem)] sm:self-end md:h-[calc(100%-4rem)]">
    </div>

    <div class="overflow-hidden sm:grid sm:grid-cols-2 sm:items-center">
      <img alt="" src="/img/targets_2.jpg" class="pl-5 pb-5 h-full md:rounded-bl-[80px] rounded-tl-[80px] w-full object-cover sm:h-[calc(100%-2rem)] sm:self-end md:h-[calc(100%-4rem)]">
      <div class="p-8 md:p-12 lg:px-16 lg:py-24">
        <div class="mx-auto max-w-xl text-center ltr:sm:text-left rtl:sm:text-right">
          <h2 class="text-3xl font-bold text-neutral-900 dark:text-white md:text-6xl">
            أنظمة الاهداف الثابتة والدوارة
          </h2>

          <p class="text-neutral-500 mt-4 text-xl">
            وفر حلوال متعددة االستخدامات لتمارين الرماية المختلفة، مع خيارات تحكم دقيقة تمكن من ضبط
            زاوية وحركة الهدف وفق متطلبات كل تمرين تدريبي.<br><br>
        يتم تصنيع جميع المكونات وفق معايير الامان العسكري لضمان أقصى درجات االعتمادية.
          </p>
        </div>
      </div>
    </div>

    <div id="simulations" class="border-t-3 border-brand-dark md:border-0 overflow-hidden sm:grid sm:grid-cols-2 sm:items-center">
      <div class="p-8 md:p-12 lg:px-16 lg:py-24">
        <div class="mx-auto max-w-xl text-center ltr:sm:text-left rtl:sm:text-right">
          <h2 class="text-3xl font-bold text-neutral-900 dark:text-white md:text-6xl">
            أنظمة المحاكاة
          </h2>

          <p class="text-neutral-500 mt-4 text-xl">
            تستخدم الشركة أنظمة محاكاة متقدمة تمكن المتدربين من خوض تجارب تدريب افتراضية دقيقة
            تحاكي الواقع الميداني، باستخدام تقنيات العرض والتصوير عالية الدقة.<br><br>
            تسهم هذه الانظمة في تقليل التكاليف التشغيلية وزيادة كفاءة التدريب.
          </p>
        </div>
      </div>

      <img alt="" src="/img/gallery/g5.jpg" class="pr-5 pb-5 h-full md:rounded-tr-[80px] rounded-br-[80px] w-full object-cover sm:h-[calc(100%-2rem)] sm:self-end md:h-[calc(100%-4rem)]">
    </div>

    <div class="overflow-hidden sm:grid sm:grid-cols-2 sm:items-center">
      <img alt="" src="/img/central_system_2.png" class="pl-5 h-full rounded-tl-[80px] w-full object-cover sm:h-[calc(100%-2rem)] sm:self-end md:h-[calc(100%-4rem)]">
      <div class="p-8 md:p-12 lg:px-16 lg:py-24">
        <div class="mx-auto max-w-xl text-center ltr:sm:text-left rtl:sm:text-right">
          <h2 class="text-3xl font-bold text-neutral-900 dark:text-white md:text-6xl">
            أنظمة التحكم المركزية
          </h2>

          <p class="text-neutral-500 mt-4 text-xl">
            تعمل هذه الانظمة على إدارة وتنسيق جميع مكونات الميدان من خالل وحدة تحكم ذكية تتيح
            متابعة الاهداف، وضبط الانظمة، وتحليل الاداء في الوقت الفعلي.
            <br><br>
            يتم تصميمها لتكون سهلة الاستخدام وآمنة التشغيل، بما يضمن إدارة فعالة لمختلف التمارين
            التدريبية.
          </p>
        </div>
      </div>
    </div>
</section>

<section id="supporting_systems" class="bg-neutral-primary dark:bg-neutral-950 px-2 md:px-30 transition-all duration-200">
    <div class="mx-auto max-w-7xl px-4 py-8 sm:px-6 lg:px-8">
      <div class="mx-auto max-w-lg text-center">
        <h2 class="text-3xl font-bold text-neutral-900 md:text-6xl dark:text-white transition-all duration-200">الانظمة المساندة والتقنيات المساعدة</h2>

        <p class="mt-4 text-xl text-pretty text-neutral-500">
          البنية التحتية
        الالكترونية التي تدعم التشغيل السلس للميادين في مختلف الظروف البيئية.
        </p>
      </div>

      <div class="mx-auto max-w-7xl px-4 py-8 sm:px-6 lg:px-8">
          <div class="grid grid-cols-1 gap-8 sm:grid-cols-3 lg:grid-cols-3">
            <div class="text-center">
              <div class="inline-flex rounded-lg bg-neutral-100 p-3 text-neutral-700 transition-all duration-200">
                <svg class="w-6 h-6 text-neutral-800" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                  <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15.5 8.43A4.985 4.985 0 0 1 17 12a4.984 4.984 0 0 1-1.43 3.5m2.794 2.864A8.972 8.972 0 0 0 21 12a8.972 8.972 0 0 0-2.636-6.364M12 6.135v11.73a1 1 0 0 1-1.64.768L6 15H4a1 1 0 0 1-1-1v-4a1 1 0 0 1 1-1h2l4.36-3.633a1 1 0 0 1 1.64.768Z"></path>
                </svg>
              </div>
              <h3 class="mt-4 text-lg font-semibold text-neutral-900 dark:text-white transition-all duration-200">الانظمة الصوتية</h3>
            </div>

            <div class="text-center">
              <div class="inline-flex rounded-lg bg-neutral-100 p-3 text-neutral-700 transition-all duration-200">
                <svg class="w-6 h-6 text-neutral-800" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                  <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 9a3 3 0 0 1 3-3m-2 15h4m0-3c0-4.1 4-4.9 4-9A6 6 0 1 0 6 9c0 4 4 5 4 9h4Z"></path>
                </svg>
              </div>
              <h3 class="mt-4 text-lg font-semibold text-neutral-900 dark:text-white transition-all duration-200">والاضاءة الميدانية</h3>
            </div>

            <div class="text-center">
              <div class="inline-flex rounded-lg bg-neutral-100 p-3 text-neutral-700 transition-all duration-200">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M6 13.5V3.75m0 9.75a1.5 1.5 0 0 1 0 3m0-3a1.5 1.5 0 0 0 0 3m0 3.75V16.5m12-3V3.75m0 9.75a1.5 1.5 0 0 1 0 3m0-3a1.5 1.5 0 0 0 0 3m0 3.75V16.5m-6-9V3.75m0 3.75a1.5 1.5 0 0 1 0 3m0-3a1.5 1.5 0 0 0 0 3m0 9.75V10.5"></path>
                </svg>
              </div>
              <h3 class="mt-4 text-lg font-semibold text-neutral-900 dark:text-white transition-all duration-200">أنظمة التهوية والتبريد</h3>
            </div>
          </div>
        </div>
    </div>
</section>
